{% extends "blog/base.html" %}

{% block content %}
    <h1 class="mb-3">Post by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.avatar.url }}" />
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username  %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.created_date|date:"N j, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous == False %}
            <a class="btn btn-outline-secondary disabled">Previous</a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% elif page_obj.has_next == False %}
            <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            <a class="btn btn-outline-secondary disabled">Next</a>
        {% else %}
            <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    {% endif %}
{% endblock %}